# Julia
Manifest.toml
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/build.log

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/settings.json

# Jupyter
.ipynb_checkpoints/
